<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>

  <body>
    <h1>Suits show page</h1>
    The Player is <%= suit.name %> and he plays for the <%= suit.team %> in <%= suit.year %>
   
    It is added by <%= suit.User.name %>

    <br>
    <form action="/suits/<%= suit.id %>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE <%= suit.name %>" />
    </form>
   </body>
</html>