<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>

  <body>
    <h1>Show - Baseball Card Collection History of Player Added</h1>
    The Player is <%= suit.name %> and he played for the <%= suit.team %> in <%= suit.year %>
   <br>
    <br>
    The Baseball Card is owned by <%= suit.User.name %>
    <br>
    <br>
    
    <h1>Show - Do You Still Own the Baseball Card in your collection?</h1>
    <form action="/suits/<%= suit.id %>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE <%= suit.name %>" />
    </form>
   </body>
</html>